# Building
setuptools>=40.6.0
wheel
setuptools_scm

# Tools for light curve analysis/MCMC
corner
lightkurve
exoplanet>=0.2.6

# For executing the notebooks
jupyterlab
jupytext

# For development and formatting
flake8
black
nbstripout
pre-commit
